<link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
/>
<%= render "shared/flash_messages" %>

<h1 class="text-center mt-4">Users</h1>
<h4 class="text-center mt-4">Total number of users: <%= @users.count %></h4> 
<div class="flickr_pagination">
  <%= will_paginate @all_orders, :container => false %>
</div>
<div class="container">
      <!-- Table -->
      <div class="table-responsive" >
      <table class="table table-fit mt-5 table-dark table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">role</th>
            <th scope="col">number of orders</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row">1</th>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.orders.count %></td>
            <td >
              <div class="d-flex flex-row  mb-3">
              <%= link_to user_path(user), title: "View user" do %>
              <div><button type="button" class="btn">
                <i class="material-icons text-primary">visibility</i> 
                </button></div>
                <% end %>
                <%= link_to edit_user_path(user), title: "edit user" do %>
                <div ><button type="button" class="btn">
                  <i class="material-icons text-warning">edit</i>
                </button></div>
                <% end %>
                
                <div><%= button_to user_path(user), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger" do %>
                  <i class="material-icons">delete</i>
                </div>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    