<%= render "shared/flash_messages" %>

<p style="color: green"><%= notice %></p>

<h1>Users</h1>
  <div class="flickr_pagination">
  <%= will_paginate  :container => false %>
</div>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<div class="flickr_pagination">
  <%= will_paginate  :container => false %>
</div>

<%= link_to "New user", new_user_path %>
