<style>
table.center {
  margin-left: auto; 
  margin-right: auto;
  tr:nth-child(even) {
  background-color: yellow;
}

   tr:nth-child(odd) {
    background-color: white;
    }
}
</style>

<%= render "shared/flash_messages" %>

<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>
  <h3 class="text-center mt-4">rating: <%= @average_rating %> stars</h3>
<% if logged_in? && (@user == current_user || current_user.admin?) %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>

<h3 class="text-center mt-4">Orders</h3>

<div class="flickr_pagination">
  <%= will_paginate @all_orders, :container => false %>
</div>

<%= render 'orders/all_order' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @all_orders, :container => false %>
</div>

<% elsif logged_in? && (current_user.worker? )  %>
<h3 class="text-center mt-4">Orders</h3>

<div class="flickr_pagination">
  <%= will_paginate @orders, :container => false %>
</div>

<%= render 'orders/order' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @orders, :container => false %>
</div>
<% end %>
  <h3 class="text-center mt-4">Reviews</h3>

<table  class="center table  w-75 ">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rater</th>
      <th scope="col">Rating</th>
      <th scope="col">review</th>
    </tr>
  </thead>
  <tbody>
  <% @ratings.each_with_index do |rating, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
       <td><%= rating.rater.username %></td>
        <td><% rating.rating.times do  %>
                        <i class="bi bi-star-fill"></i> 
                        <% end %></td>
      <td><%= rating.comment %></td>
    </tr>
  <% end %>
  </tbody>
</table>