<div id="orders">
<div class="container mt-4">
  <% @orders.each do |order| %>
    <div class="card shadow-sm  mb-5 bg-white rounded mb-3" style="max-width: 800px; ">
      <div class="row no-gutters ">
        <div class="col-4 ">
        <% order.images.each do |image| %>
          <div class="card-img"><%= image_tag image ,style:"width: 280px"%></div>
          <%break%>
        <% end %>
        </div>
        <div class="col-8">
          <div class="card-body">
          <h5 class="card-title"><%= link_to order.title, order_path(order), class: "text-success" %></h5>
            <h5 class="card-title"><%= order.category %></h5>
            <p class="card-text"><%= order.title %></p>
            <p class="card-text"> writen by :<%= order.user.username %></p>
            <p class="card-text"><small class="text-muted"><%= order.location %></small></p>
            <%= link_to "View", order_path(order), class: "btn btn-outline-success" %>
            <% if logged_in? && (order.user == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_order_path(order), class: "btn btn-outline-info" %>
              <%= link_to "Delete", order_path(order), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
