
  <p>
    <strong>Titjjle:</strong>
    <%= order.title %>
  </p>

  <p>
    <strong>Descreption:</strong>
    <%= order.descreption %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= order.location %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= order.category %>
  </p>

  <p>
    <strong>Images:</strong>
    <% order.images.each do |image| %>
      <div><%= image_tag image,style:"width: 200px"%></div>
    <% end %>
  </p>


