
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "7 CRAFTS", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
        <%= link_to 'Home', root_path, class: " nav-link active nav-item" %>
        </li>
      <% if logged_in? && current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            categories
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Create new category", new_category_path, class: "dropdown-item" %></li>
            <li><%= link_to "View categories", categories_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% end %>  
        <% if logged_in? %>
        <li>
        <%= link_to 'create an order', new_order_path, class: " nav-link active nav-item" %>
        </li>
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "(Worker)" if current_user.worker?%><%= "(Admin)" if current_user.admin?%> Profile [<%= current_user.username %>]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= button_to "Delete my account", user_path(current_user), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "dropdown-item text-danger" %>
          </div>
        </div>
        <% if current_user.worker?%>
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> offers</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'pending', pending_path, class: "dropdown-item" %>
          <%= link_to 'active', active_orders_path, class: "dropdown-item" %>
          </div>
          </div>
        <% end %>
      </ul>
        <form class="d-flex" >
      <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: "btn btn-danger shadow", method: :delete %>
       </form>
      </li>
         <% else %>
    </div>
        <form class="d-flex" >
          <%= link_to 'Log in', login_path, class: "btn btn-primary shadow" %>
        </form>
        <% end %>
  </div>
</nav>

